DATABASE_URL=postgres://postgres:postgres@127.0.0.1:55432/cdc_solid_queue_example
CDC_SLOT=cdc_solid_queue_example
CDC_PUBLICATION=cdc_publication
CDC_AUTO_CREATE_SLOT=true
CDC_BATCH_SIZE=25
CDC_CONCURRENT_CONCURRENCY=100
CDC_CONCURRENT_TIMEOUT=5.0
